<div id="order-app"></div>
<script>
   let pid = '33927c61ca8d4fdcc795bc97e0c3b830f4fdc1ce6b6f971ea45439fde52318a6';
   let uid = {{ customer.id | json }};
   let rmaHost = 'rma.shipcentra.com';
   let paginationColor = '#48944d';
</script>
<script src="https://rma.shipcentra.com/rma-services/rma/customer/orders.js"></script>