<div id="rma-app"></div>
<script>
   let pid = '69d11b55e3374bee480fe4ecdb8ecbeb53788a9f9479b5afab0ac59149e37e1c';
   let uid = {{ customer.id | json }};
   let rmaHost = 'rma.shipcentra.com';
   let paginationColor = '#282828';
</script>
<script src="https://rma.shipcentra.com/rma-services/rma/customer/rmas.js"></script>