.aod-wrapper{
  margin-top: 20px;
}

.aod-wrapper div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0!important;
}

.aod-wrapper .aodSaveCart, .aod-wrapper .aodViewCart{
  position: relative;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  padding: 0 20px;
  line-height: 48px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  transition: background .25s ease-in-out,color .25s ease-in-out,box-shadow .25s ease-in-out;
  width: 200px;
}

#aod_smart_cart_saver table {
	margin: 5px auto 0;
	text-align: left;
}

#aod_smart_cart_saver[url] table {
	text-align: center;
}

#aod_smart_cart_saver table .aod_btn {
	margin: 0 !important;
}

#aod_smart_cart_saver .p-2 {
	padding: 0 !important;
}

#aod_smart_cart_saver .aodsubtotalText {
	font-weight: bold;
	font-size: 22px;
}

#aod_smart_cart_saver .aodTotels2,
#aod_smart_cart_saver .aod_back_btn,
#aod_smart_cart_saver .aod_edit_btn,
#aod_smart_cart_saver .aod_edit_btn + b  {
	display: none;
}

.AOD_Main_Container_Root .row {
	margin: 0 !important;
}

.AOD_Main_Container_Root .row .aod_add_new_prd_btn {
	margin-right: 15px;
  background: transparent;
  color: #000;
}

.AOD_Main_Container_Root .flex-row-reverse {
flex-direction: row !important;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url]) tbody tr {
	border-top: 1px solid #d7d7d7;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url]) tbody td:first-child {
	color: #282828;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  td:last-child,
#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  th:last-child {
	text-align: right;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  td:not(td:last-child),
#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  th:not(th:last-child) {
	padding-right: 30px;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  td:last-child button {
	font-weight: normal;
	background-color: #d7d7d7;
	color: #fff;
	padding: 5px 15px;
	margin: 5px 0 5px 20px  !important;
}

#aod_smart_cart_saver:not(#aod_smart_cart_saver[url])  td:last-child button:first-child {
	background-color: #282828;
}

#aod_smart_cart_saver table .aod_btn.btn-danger {
  background-color: transparent;
  color: #dc3545;
}

@media screen and (min-width: 560px) {
  .mini-cart .aod-wrapper .aodSaveCart,
  .mini-cart .aod-wrapper .aodViewCart {
    padding: 0 10px;
  }

  #aod_smart_cart_saver:not(#aod_smart_cart_saver[url]) td:not(td:last-child),
  #aod_smart_cart_saver:not(#aod_smart_cart_saver[url]) th:not(th:last-child) {
    padding-right: 90px;
  }
}

.announcement-bar p {
  margin: 0;
}

.shipping-estimate--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 15px;
}

.shipping-estimate--wrapper svg {
  margin-right: 7px;
  transform: scaleX(-1);
  max-height: 20px;
}

.shipping-estimate--wrapper p {
  margin: 0;
}

@media (max-width: 768px) {
  .shipping-estimate--wrapper {
    font-size: 12px;
    line-height: 12px;
  }
}

.nav-bar {
  display: none;
}

.nav-bar__link {
  font-weight: 700;
  font-size: 15px;
}



@media screen and (min-width: 1000px) {
  .nav-bar {
      display: block;
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
  }

  .nav-bar::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 40px;
      right: 0;
      top: 0;
      background: linear-gradient(to right, rgba(var(--secondary-background-rgb), 0.1), rgba(var(--secondary-background-rgb), 0.6) 35%, var(--secondary-background));
  }

  .nav-bar__item {
      display: inline-block;
      margin-right: 35px;
      padding: 10px 0;
  }

  .nav-bar__item--static {
      position: static;
  }

  .nav-bar__item > .nav-dropdown {
      min-width: calc(100% + 20px);
  }

  .nav-bar__link {
      display: block;
      cursor: pointer;
  }

  .nav-bar__link .icon--arrow-bottom {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 10px;
  }

  .nav-bar__link .icon--nav-triangle {
      opacity: 0;
      position: absolute;
      bottom: -1px;
      width: 20px;
      height: 9px;
      margin-left: -16px;
      z-index: 2;
      transition: 0.2s ease-in-out;
  }

  .nav-bar__link[aria-expanded=true] {
      color: var(--accent-color);
  }

  .nav-bar__link[aria-expanded=true] .icon--nav-triangle {
      opacity: 1;
  }
}

@media (min-width: 1000px) {
  .nav-bar .nav-bar__item.js-single-column {
    position: relative;
 }
  .nav-bar .nav-bar__item.js-single-column .desktop-menu--wrapper {
    min-width: 145px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
 }
  .nav-bar .nav-bar__item.js-single-column .navigation__item {
    flex: 0 0 100%;
    max-width: 100%;
    white-space: nowrap;
 }
}

@media only screen and (min-width: 1000px) {
  .desktop-menu--wrapper {
      width: 100%;
      min-width: 960px;
      left: 0;
      position: absolute;
      margin-top: 10px;
      padding: 15px 0;
      grid-template-columns: 220px auto;
      display: none;
      max-height: calc(100vh - 300px);
      overflow: auto;
      z-index: 10000;
  }

  .desktop-menu--wrapper li {
      list-style: none;
  }

  .desktop-menu--wrapper p {
      font-weight: bold;
      margin: 0;
  }

  .desktop-menu--wrapper li a {
      width: 100%;
      padding: 0 15px;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .desktop-menu--wrapper li p {
      padding: 0 15px;
  }

  .navigation--container {
      padding-right: 15px;
      overflow-y: auto;
  }

  .navigation-content--container {
      display: none;
  }

  .navigation-content--container.content-active {
      display: block;
  }

  .navigation-content--container > div {
      display: flex;
      flex-flow: column;
      padding: 0 15px;
      flex-wrap: wrap;
      height: 100%;
      max-height: 500px;
      overflow-y: auto;
      padding-bottom: 15px;
  }

  a.has-sublinks.link-active {
      color: #f3ff34;
  }

  .desktop-menu--wrapper a:hover {
      color: #141414;
  }

  .nav-bar__item:hover .desktop-menu--wrapper {
      display: grid;
  }

  .nav-bar__item .icon.icon--nav-triangle {
      opacity: 0;
  }

  .nav-bar__item:hover .icon.icon--nav-triangle {
      opacity: 1;
  }

  .nav-bar__linklist {
      position: relative;
      display: inline-block;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-bar__item {
      position: relative;
  }

  button.mobile-menu__nav-link {
      display: flex;
      justify-content: space-between;
      padding-right: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background-color: white;
      color: #17253f;
  }

  .navigation__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      min-width: 192px;
      text-align: left;
      border-right: 1px solid #68c0ab;
      margin: 8px 0;
  }

  .navigation__subitems {
      overflow: auto;
  }
  .navigation__item:last-child,
  .navigation__item:nth-child(5n) {
      border-right: 0 dashed;
  }

  .navigation__row .site-nav__link {
      padding: 0 10px;
      display: block;
  }

  .desktop-menu--wrapper {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  }

  .site-nav__child-link {
      font-weight: 700;
      font-size: 18px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }

  .navigation__row .site-nav__child-link:hover {
      background: transparent;
  }

  .navigation__subitems::-webkit-scrollbar {
      width: 6px;
  }

  .navigation__subitems::-webkit-scrollbar-track {
      background: #f2f2f2;
  }

  .navigation__subitems::-webkit-scrollbar-thumb {
      background: var(--accent-color);
  }

  .navigation__subitems::-webkit-scrollbar-thumb:hover {
      background: var(--accent-color);
  }
}
@media only screen and (min-width: 1000px)and (max-width: 1244px) {
  .nav-bar__item {
      margin-right: 30px;
  }
  .nav-bar__link .icon--arrow-bottom {
      margin-left: 4px;
  }
}
@media only screen and (min-width: 1000px)and (max-width: 1150px) {
  .nav-bar__item {
      margin-right: 14px;
  }
}


.mobile-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -110vw;
  top: 0;
  z-index: 999;
  padding-top: 132px;
  transition: all 0.5s;

  /* visibility: hidden; */
  /* max-height: 0;  */
  /* This is needed to fix a bug on iOS, DO NOT REMOVE */
  /* z-index: 1; */
  /* opacity: 0; */
  /* color: var(--text-color); */
  /* font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 16px)); */
  /* transform: scale(0.9); */
  /* transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s; */
  /* will-change: transform; */
}

.mobile-menu__inner .icon--arrow-right,
.mobile-menu__inner .icon--arrow-left {
  width: 8px;
  height: 12px;
}

.mobile-menu__inner {
  position: relative;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.mobile-menu__inner .icon--nav-triangle-borderless {
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 18px;
  height: 8px;
  z-index: 1;
}

.mobile-menu__panel {
  position: relative;
  height: 100%;
  background: var(--secondary-background);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.mobile-menu__panel.is-nested {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1;
  transform: translateX(100%);
  background: #fff;
}

/* .mobile-menu__section {
padding: 16px 20px;
} */

.mobile-menu__section--loose {
  padding-top: 18px;
  padding-bottom: 18px;
}

.mobile-menu__section:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.mobile-menu__section.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--secondary-background);
  z-index: 1;
}

.mobile-menu__nav {
  list-style: none;
  padding: 0;
}

.mobile-menu__nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: block;
  padding: 10px 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 700;
  font-size: 15px;
}

.mobile-menu__back-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  background: #fff;
}

.mobile-menu__back-button svg {
  margin-right: 8px;
  vertical-align: -1px;
  display: inline-block;
}

.mobile-menu__nav-list {
  margin-top: 2px;
}

.mobile-menu__nav-list-toggle {
  width: 100%;
  text-align: left;
  padding: 4px 0; /* allows to increase touch area a bit */
}

.mobile-menu__nav-list-toggle svg {
  width: 12px;
  height: 8px;
  margin-left: 12px;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu__nav-list-toggle[aria-expanded=true] svg {
  transform: rotateZ(180deg);
}

.mobile-menu__nav-list-item {
  margin-bottom: 22px;
}

.mobile-menu__nav-collapsible {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.mobile-menu__nav-collapsible-content {
  margin-top: 4px;
}

.mobile-menu__promo {
  display: block;
  padding: 20px 0 25px 0;
  text-align: center;
}

.mobile-menu__image-wrapper {
  margin-bottom: 22px;
  border-radius: 3px;
  overflow: hidden;
}

.mobile-menu__image-heading {
  display: block;
  margin-bottom: 0;
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 18px));
}

.mobile-menu__image-text {
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 15px));
}

.mobile-menu__promo-list {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -10px;
  margin-right: -10px;
}

.mobile-menu__promo-list .mobile-menu__promo-item {
  flex: 0 0 auto;
  width: 81%;
  white-space: normal;
  scroll-snap-align: center;
}

.mobile-menu__promo-list .mobile-menu__promo {
  margin-left: 10px;
  margin-right: 10px;
}

.scroller .mobile-menu__promo-list::before {
  content: "";
  flex: 0 0 20px;
}

.scroller .mobile-menu__promo-list::after {
  content: "";
  flex: 0 0 13px;
}

@media screen and (min-width: 641px) {
  .mobile-menu__inner .icon--nav-triangle-borderless {
      left: 40px;
  }
}

/* States */
.mobile-menu__inner .mobile-menu__panel.is-open {
  transform: translateX(0);
  visibility: visible;
  background: #f7f7f7;
}

/* Help icons */
.mobile-menu__help-wrapper {
  display: flex;
  align-items: center;
}

.mobile-menu__help-wrapper .icon--bi-phone {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.mobile-menu__help-wrapper .icon--bi-email {
  margin-right: 18px;
  width: 22px;
  height: 22px;
}

.mobile-menu__help-wrapper + .mobile-menu__help-wrapper {
  margin-top: 18px;
}

.order-foot__rma-button.button {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 35px;
}


.product-list__inner--list {
  grid-template-columns: repeat(1, 1fr);
}

.product-list__inner--list .product-item {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-list__inner--list .product-item .product-item__image-wrapper a {
  width: 300px;
}

.gf-layout-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.gf-layout-selector button {
  opacity: 0.7;
}

.gf-layout-selector button.is-selected {
  opacity: 1;
}

.gf-layout-selector svg {
  width: 18px;
}

@media screen and (max-width: 768px) {
  .product-list__inner--list .product-item .product-item__image-wrapper a {
    width: 90px;
  }

  .product-list__inner--list .product-item__image-wrapper {
    overflow: unset;
  }
}

.product-item__quick-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 350px;
  margin: 0 auto;
}

.product-item__quantity-input {
  width: 100%;
  max-width: 45px;
  text-align: center;
  border: 1px solid rgb(var(--border-color));
}

.product-item__quick-form .button {
  line-height: 20px;
  padding: 10px;
}

.product-form__availability {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-form__availability svg {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

.product-form__availability.available {
  color: #0a0;
}

.product-form__availability.available.MEDIUM {
  color: #fec509;
}

.product-form__availability.available.LOW {
  color: #e00;
}
